<div class="card">
    <p-splitter 
        [panelSizes]="[25, 75]" 
        [style]="{ height: '470px', 'border-radius':'20px'}" 
        styleClass="mb-5 custom-splitter">
            <ng-template pTemplate>
                <div class="col flex align-items-center justify-content-center customdiv">
                    <p-card header="Instalación de BackBox Linux" [style]="{ 'border-radius':'20px', 'color':'black'}">
                        <div class="card flex justify-content-center align-items-center">
                            <i class="pi pi-cog" style="font-size: 30px; margin-right: 8px; color: #00719e"></i>
                        </div>
                    </p-card>
                </div>
            </ng-template>
            <ng-template pTemplate>
                <div class="card flex justify-content-center align-items-center">
                    <p-tabView [style]="{'color': 'black', 'width':'1000px'}">
                        <p-tabPanel header="Requisitos previos" [style]="{ 'border-radius':'20px', 'color':'black'}">
                            <div class="card flex justify-content-center"><img src="https://cdn-icons-png.flaticon.com/512/3967/3967665.png" alt="Requisitos" height="95"></div>
                            <p>
                                <strong>--</strong> Un equipo con al menos 2 GB de RAM y 20 GB de espacio en disco.
                            </p>
                            <p>
                                <strong>--</strong> Un USB booteable con la imagen de BackBox Linux.
                            </p>
                            <p>
                                <strong>--</strong> Conexión a Internet para descargar actualizaciones.
                            </p>
                        </p-tabPanel>
                        <p-tabPanel header="Pasos para la instalación" [style]="{ 'color':'black'}">
                            <div class="card flex justify-content-center"><img src="https://cdn-icons-png.flaticon.com/512/4394/4394573.png" alt="instalación" height="95"></div>
                            <p>
                                <strong>1.</strong> Descarga la imagen ISO: Accede al sitio oficial de <a href="https://www.backbox.org/" target="_blank">BackBox Linux</a> para obtener la imagen del sistema.
                            </p>
                            <p>
                                <strong>2.</strong> Crear un USB booteable: Usa herramientas como Rufus para grabar la imagen en tu USB. <a href="https://rufus.ie/es/" target="_blank">Instrucciones de Rufus.</a>
                            </p> 
                            <p>
                                <strong>3.</strong> Configuración de BIOS: Reinicia tu equipo y ajusta la BIOS para arrancar desde el USB.
                            </p>
                            <p>
                                <li>
                                    Iniciar instalación: <br>
                                    <ol>
                                        <li><strong>--</strong> Selecciona "Instalar BackBox Linux" desde el menú del USB. <br></li>
                                        <li><strong>--</strong> Configura idioma, zona horaria y teclado. <br></li>
                                        <li><strong>--</strong> Elige "Borrar disco e instalar BackBox" (esto eliminará los datos existentes del disco duro). <br></li>
                                        <li><strong>--</strong> Crea un nombre de usuario y contraseña para tu cuenta.</li>
                                    </ol>
                                </li>
                            </p>
                            <p>
                                <strong>5.</strong> Reiniciar: Una vez terminada la instalación, reinicia el equipo y accede con los datos creados.
                            </p>
                        </p-tabPanel>
                        <p-tabPanel header="Configuración y optimización" [style]="{'color':'black'}">
                            <div class="card flex justify-content-center"><img src="https://lh6.googleusercontent.com/DsZ2lPbYJdwZNf1TaR4k79AdlWIb5yAmr6P0C-6yJULC5-5QXL9jmSQ_ml91-y4KG3LLLP6K27fzV1K7SdRmM9SOX22xkmR3g7QFrBVA1OslaJVcMH94xNwKMhGrFa3DY1h0H3GJ" alt="optimización" height="95"></div>
                            <p>
                                <strong>1.</strong> Configuración de red: Configura la red del equipo para conectarte a internet.
                            </p>
                            <p>
                                <strong>2.</strong> Actualización de paquetes: Utiliza el gestor de paquetes para actualizar los paquetes y software.
                            </p>
                            <p>
                                <strong>3.</strong> Optimización del sistema: Elimina las aplicaciones innecesarias y establece la memoria RAM según el uso del equipo.
                            </p>
                            <p>
                                <strong>4.</strong> Configuración de cortafuegos: Utiliza un cortafuego para proteger tu equipo y evitar ataques de ciberseguridad.
                            </p>
                            <p>
                                <strong>5.</strong> Reiniciar el equipo: Después de las configuraciones, reinicia el equipo para aplicarlas.
                            </p>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </ng-template>
    </p-splitter>
</div>
<div class="card flex justify-content-center text-600">
    <H2>Guía Útil</H2>
</div>
<div class="card flex justify-content-center align-items-center">
    <div class="grid p-1 grid-custom">
        <div class="col flex justify-content-center align-items-center col-custom">
            <img src="https://cdn-icons-png.flaticon.com/512/2780/2780081.png" alt="video1" class="custom-img2">
        </div>
        <div class="col-6 flex justify-content-center align-items-center col-custom">
            <iframe 
            src="https://www.youtube.com/embed/7L_D2dx67VE" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen 
            class="custom-video"></iframe>
        </div>
        <div class="col flex justify-content-center align-items-center col-custom">
            <img src="https://cdn-icons-png.flaticon.com/256/8988/8988904.png" alt="video2" class="custom-img2">
        </div>
    </div>
</div>
<div class="card justify-content-center pt-3 pb-3">
    <div class="card flex justify-content-center pb-3 pt-3 text-600">
        <H2>Consejos para mayor eficiencia</H2>
    </div>
    <div class="grid">
        <div class="col-6">
            <p-divider align="left" type="solid" class="custom-divier">
                <i class="pi pi-spinner" style="font-size: 30px; margin-right: 8px; color: #00719e"></i>
                <b>Actualizar durante la instalación</b>
            </p-divider>
            <p class="m-0 customdiv">
                <br>
                Cuando instalas un sistema operativo como BackBox Linux o cualquier distribución basada en Linux, hay una opción para descargar las actualizaciones más recientes durante el proceso de instalación. Activar esta opción tiene varias ventajas: <br> <br>
                <li><strong>Ahorro de tiempo post-instalación:</strong> Evitarás tener que instalar las actualizaciones manualmente después de la instalación inicial. <br> <br></li>
                <li><strong>Mayor estabilidad:</strong> Te aseguras de tener los parches de seguridad y correcciones de errores más recientes, lo que reduce la posibilidad de fallos. <br> <br></li>
                <li><strong>Compatibilidad: </strong> Las actualizaciones a menudo incluyen mejoras en el soporte de hardware, lo que podría ser crucial si estás utilizando componentes nuevos o específicos (por ejemplo, tarjetas gráficas o de red). <br> <br></li>
                <strong>Cómo hacerlo:</strong> Durante el proceso de instalación de la mayoría de las distribuciones de Linux, verás una opción que dice algo como "Descargar actualizaciones mientras se instala". Simplemente marca esta opción para permitir la descarga de las actualizaciones más recientes. Necesitarás una conexión a Internet activa durante el proceso.
                <br> <br>
            </p>
            <p-divider align="center" type="dotted">
                <i class="pi pi-desktop" style="font-size: 30px; margin-right: 8px; color: #00719e"></i>
                <b>Revisar el hardware</b>
            </p-divider>
            <p class="m-0">
                Es importante asegurarte de que el hardware de tu equipo sea compatible con el sistema operativo que estás instalando, especialmente cuando se trata de tarjetas de red o gráficas. Tener los controladores correctos es crucial para un rendimiento adecuado. <br> <br>
                <li><strong>Tarjetas gráficas:</strong> Algunas distribuciones de Linux no tienen soporte completo para las tarjetas gráficas NVIDIA o AMD sin instalar controladores propietarios. Esto puede afectar el rendimiento gráfico, la resolución y el soporte para aplicaciones que requieren un uso intensivo de gráficos. <br> <br></li>
                <li><strong>Tarjetas de red:</strong> El soporte para tarjetas de red (Wi-Fi o Ethernet) puede variar según el hardware. Asegúrate de que los controladores correctos estén instalados para evitar problemas de conectividad. <br> <br></li>
                <strong>Consejo:</strong> Antes de instalar el sistema operativo, busca en la página web del fabricante o en foros de Linux si hay controladores específicos que debas instalar. En algunos casos, los controladores propietarios no se incluyen por defecto en la instalación de Linux por razones de licencia, por lo que podrías tener que instalarlos manualmente.
            </p>
            <p-divider align="right" type="dashed">
                <i class="pi pi-save" style="font-size: 30px; margin-right: 8px; color: #00719e"></i>
            <b>Copia de seguridad antes de borrar discos</b>
            </p-divider>
            <p class="m-0 customdiv">
                <br>
                Cuando instalas un nuevo sistema operativo, especialmente si eliges la opción "Borrar disco e instalar", todo el contenido existente en el disco se eliminará, lo que incluye documentos, fotos, software y cualquier dato importante. Es vital hacer una copia de seguridad antes de proceder con la instalación para evitar la pérdida de datos. <br> <br>
                <li><strong>¿Por qué es importante?:</strong> Si tienes archivos importantes en el disco que piensas formatear, perderlos podría ser irreversible sin una copia de seguridad. Incluso si estás instalando en una partición específica, los errores o sobrescrituras accidentales pueden ocurrir. <br> <br></li>
                <li><strong>Soluciones de respaldo:</strong> <br>
                    <ol>
                        <li><strong>Discos externos:</strong> Usa un disco duro externo o una memoria USB para copiar tus archivos importantes. <br> <br></li>
                        <li><strong>Almacenamiento en la nube:</strong> Servicios como Google Drive, Dropbox, o OneDrive son opciones rápidas para respaldar archivos sin depender de dispositivos físicos. <br> <br></li>
                        <li><strong>Software de copia de seguridad:</strong> Usa herramientas como Clonezilla o el software integrado de respaldo que algunas distribuciones de Linux proporcionan para realizar imágenes completas del disco. <br> <br></li>
                    </ol>
                </li>
                <strong>Consejo:</strong> Después de respaldar tus archivos, verifica que puedas acceder a ellos desde otro equipo o dispositivo para asegurarte de que el respaldo fue exitoso.
                <br> <br>
            </p>
        </div>
        <div class="col-6">
            <div class="flex justify-content-center align-items-center flex-grap">
                <div class="flex flex-column">
                    <img src="https://cdn-icons-png.flaticon.com/512/11776/11776853.png" alt="Cerebro">
                    <img src="https://cdn-icons-png.flaticon.com/512/5083/5083079.png" alt="flecha">
                    <img src="https://cdn-icons-png.flaticon.com/512/868/868682.png" alt="Herrmientas" class="custom-img">
                </div>
            </div>
        </div>
    </div>
</div>
