<p></p>
<div class="comment" style="padding: 20px;">
    <div class="card-container" style="display: flex; flex-direction: row; gap: 5px; flex-wrap: wrap;">
        <!-- Intro -->
        <div class="card flex custom-div align-items-center" style="display: flex; align-items: center; width: 100%;">
            <i class="pi pi-user pl-5" style="font-size: 30px; margin-right: 8px; color: #ffffff"></i>
            <h1>Autores:</h1>
        </div>
        
        <!-- Tarjetas de autores en disposición horizontal -->
        <div class="card" style="flex: 1;">
            <p-card header="Raffaele Forte" [style]="{ width: '300px', 'border-radius':'20px', 'color':'black', 'max-height': '250px'}">
                <p class="m-0">
                    Fundador y desarrollador principal el cual cuenta con una sólida 
                    experiencia en ciberseguridad y pruebas de penetración.
                </p>
            </p-card>
        </div>

        <div class="card" style="flex: 1;">
            <p-card header="Stefan Umit Uygur" [style]="{ width: '300px', 'border-radius':'20px', 'color':'black', 'max-height': '250px'}">
                <p class="m-0">
                    Se encarga de la comunicación y las relaciones públicas de BackBox,
                    así como del soporte de la comunidad.
                </p>
            </p-card>
        </div>

        <div class="card" style="flex: 1;">
            <p-card header="Gianfranco Costamagna" [style]="{ width: '300px', 'border-radius':'20px', 'color':'black', 'max-height': '250px'}">
                <p class="m-0">
                    Su papel en BackBox se centra en el mantenimiento de 
                    los repositorios y la integración de herramientas de seguridad.
                </p>
            </p-card>
        </div>

        <div class="card" style="flex: 1;">
            <p-card header="Andrea Draghetti, Cristian Mariolini, Nenad Marjanovic y Abdel Adim Oisfi" [style]="{ width: '300px', 'border-radius':'20px', 'color':'black', 'max-height': '270px'}">
                <p class="m-0">
                    Estos miembros contribuyen de diversas formas al proyecto, como desarrolladores, 
                    evaluadores de calidad y soporte en el foro de usuarios.
                </p>
            </p-card>
        </div>
        <br>
        <br>
        <div class="card flex custom-div align-items-center" style="display: flex; align-items: center; width: 100%; margin-left: 30px;">
            <i class="pi pi-comments" style="font-size: 30px; margin-right: 8px; color: #ffffff"></i>
            <h1>Comentarios:</h1>
        </div>
        <br>
    </div>
    
    <div class="card-container2" style="display: flex; flex-direction: row; gap: 5px; flex-wrap: wrap; margin-left: 85px;">
        <!-- Segunda tarjeta de comentario -->
        <div class="card" style="flex: 1;">
            <p-card header="ozuna" [style]="{ width: '500px', 'border-radius':'20px', 'color':'black', 'max-height': '175px'}">
                <p class="m-0">
                    He utilizado BackBox en auditorías de pequeñas empresas, y su
                    rendimiento es excelente incluso en hardware limitado. ¡Recomendado!
                </p>
                <br>
                <small>23/10/24</small>
            </p-card>
        </div>
        <br>
        <br>
        <!-- Tercer tarjeta de comentario -->
        <div class="card" style="flex: 1;">
            <p-card header="Simon123" [style]="{ width: '500px', 'border-radius':'20px', 'color':'black','max-height': '175px', }">
                <p class="m-0">
                    ¿Hay algún curso que recomienden para aprender a utilizar BackBox 
                    para análisis forense?
                </p>
                <br>
                <small>29/11/23</small>
            </p-card>
        </div>
    </div>
    
    <br>
    <br>
    
    <div class="card-container3" style="display: flex; flex-direction: row; gap: 5px; flex-wrap: wrap; margin-left: 85px;">
        <!-- Segunda tarjeta de comentario -->
        <div class="card" style="flex: 1;">
            <p-card header="sebas" [style]="{ width: '500px', 'border-radius':'20px', 'color':'black', 'max-height': '175px'}">
                <p class="m-0">
                    Muy bien explicado, la instalacion ha ido perfecto y siguiendo todos
                    los pasos eh podido instalar backbox de una manera rapida y sencilla 
                </p>
                <br>
                <small>13/10/24</small>
            </p-card>
        </div>
        <br>
        <br>
        <!-- Tercer tarjeta de comentario -->
        <div class="card" style="flex: 1;">
            <p-card header="danielk" [style]="{ width: '500px', 'border-radius':'20px', 'color':'black','max-height': '175px', }">
                <p class="m-0">
                    ¿no hay una version mas reciente? Por lo demas genial, me encanta
                    estar actualizado y tener toda la informacion de backbox a la mano
                </p>
                <br>
                <small>29/10/23</small>
            </p-card>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- Área de comentario -->
    <div class="flex" style="display: flex; flex-direction: column; align-items: center; margin: 20px;">
        <div class="card flex" style="border-radius: 20px; width: 100%;">
            <p-floatLabel>
                <textarea 
                    id="float-input" 
                    rows="7"
                    cols="160" 
                    pInputTextarea
                    style="width: 100%; max-width: 100%;">
                </textarea>
                <label for="float-input" class="color"><strong>Agrega un comentario</strong></label>
            </p-floatLabel>
        </div>
    </div>

    <!-- Botón de enviar -->
    <div class="boton" style="display: flex; justify-content: center; width: 100%;">
        <div class="card flex justify-content-center" style="border-radius: 20px; padding: 20px; max-width: 100%;">
            <button 
                pButton 
                pRipple 
                label="Enviar" 
                class="p-button-success">
            </button>
        </div>
    </div>
</div>
