<!-- PARTE DE ARRIBA AUTORES  -->

<div class="justify-content-center align-items-center text-center">
    <div class="block">
        <h1><i class="pi pi-user pl-5" style="font-size: 30px; margin-right: 4px; color: #000000"></i> AUTORES</h1>
    </div>
    <div class="block">
        <p>
            A continuación se presentan los fundadores y <br>
            principales encargados de la creación de <br>
            back box. Entre ellos encontramos cargos <br>
            como desarrolladores, expertos en ciberseguridad, <br>
            evaluadores de calidad y entre otros cargos.
        </p>
    </div>
</div>

<div class="comment" style="padding: 20px;">
    <div class="card-container" style="display: flex; flex-direction: row; gap: 5px; flex-wrap: wrap;">
        <!-- Intro -->
        <!-- Tarjetas de autores en disposición horizontal -->
        <div class="card" style="flex: 1;" >
            <p-card class="text-center" header="Raffaele Forte" [style]="{  width: '300px', 'border-radius':'20px', 'color':'black', 'height': '370px','box-shadow':'10px 10px 15px rgba(0,0,0,0.3)'}">
                <p-image src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png"
                                alt="Icono Creador"
                                width="80"/>
                <p class="m-0">
                    <br>Fundador y desarrollador principal el cual cuenta con una sólida 
                    experiencia en ciberseguridad y pruebas de penetración.
                </p>
            </p-card>
        </div>

        <div class="card" style="flex: 1;">
            <p-card class="text-center" header="Stefan Umit Uygur" [style]="{ width: '300px', 'border-radius':'20px', 'color':'black', 'height': '370px','box-shadow':'10px 10px 15px rgba(0,0,0,0.3)'}">
                <p-image src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png"
                                alt="Icono Creador"
                                width="80"/>
                <p class="m-0">
                    <br>Se encarga de la comunicación y las relaciones públicas de BackBox,
                    así como del soporte de la comunidad.
                </p>
            </p-card>
        </div>

        <div class="card" style="flex: 1;">
            <p-card class="text-center" header="Gianfranco Costamagna" [style]="{ width: '300px', 'border-radius':'20px', 'color':'black', 'height': '370px','box-shadow':'10px 10px 15px rgba(0,0,0,0.3)'}">
                <p-image src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png"
                                alt="Icono Creador"
                                width="80"/>
                <p class="m-0">
                    <br>Su papel en BackBox se centra en el mantenimiento de 
                    los repositorios y la integración de herramientas de seguridad.
                </p>
            </p-card>
        </div>

        <div class="card" style="flex: 1;">
            <p-card class="text-center" header="Andrea Draghetti, Cristian Mariolini, Nenad Marjanovic y Abdel Adim Oisfi" [style]="{ width: '300px', 'border-radius':'20px', 'color':'black', 'height': '370px','box-shadow':'10px 10px 15px rgba(0,0,0,0.3)'}">
                <p-image src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png"
                                alt="Icono Creador"
                                width="80"/>
                <p class="m-0">
                    <br>Estos miembros contribuyen de diversas formas al proyecto, como desarrolladores, 
                    evaluadores de calidad y soporte en el foro de usuarios.
                </p>
            </p-card>
        </div>
        <br>
        <br>
    </div>
</div>
<!-- COMENTARIOS  -->

<!-- COMENTARIOS DESCRIPCION -->
<div class="flex-wrap gap-4 justify-content-center align-items-center text-center">
    <div class="block">
        <h1>
            <i class="pi pi-comments" style="font-size: 30px; margin-right: 8px; color: #000000"></i> COMENTARIOS
        </h1>
    </div>
    <div class="block">
        <p>
            En esta sección se encontrara con los comentarios <br>
            realizados por los creadores de esta pagina web <br>
            comentando su experiencia y la valoracion que le <br>
            dan a este sistema operativo. Además un apartado <br>
            para enviar sus propios comentarios.
        </p>
    </div>
</div>

<div class="grid">
    <div class="col-6">
        <div class="border-round-sm font-bold flex justify-content-center">
            <div class="card flex justify-content-center" style="background-color: #EEEEEE;border-radius:10px; padding:20px; width:80%">
                <p-card subheader="23/10/24" header="Alexander Yama" [style]="{ width: '500px', 'border-radius':'20px', 'color':'black', 'max-height': '175px','box-shadow':'5px 5px 10px rgba(0,0,0,0.3)'}">
                    <p class="m-0">
                        He utilizado BackBox en auditorías de pequeñas empresas, y su
                        rendimiento es excelente incluso en hardware limitado. ¡Recomendado!
                    </p>
                </p-card>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="border-round-sm font-bold  flex justify-content-center">
            <div class="card flex justify-content-center" style="background-color: #EEEEEE;border-radius:10px; padding:20px; width:80%">
                <p-card subheader="29/11/23" header="Samuel Salazar" [style]="{ width: '500px', 'border-radius':'20px', 'color':'black','max-height': '175px','box-shadow':'5px 5px 10px rgba(0,0,0,0.3)' }">
                    <p class="m-0">
                        ¿Hay algún curso que recomienden para aprender a utilizar BackBox 
                        para análisis forense?
                    </p>
                </p-card>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="border-round-sm  font-bold  flex justify-content-center">
            <div class="card flex justify-content-center" style="background-color: #EEEEEE;border-radius:10px; padding:20px; width:80%">
                <p-card subheader="13/10/24" header="Sebastian Matabanchoy" [style]="{ width: '500px', 'border-radius':'20px', 'color':'black', 'max-height': '175px','box-shadow':'5px 5px 10px rgba(0,0,0,0.3)'}">
                    <p class="m-0">
                        Muy bien explicado, la instalacion ha ido perfecto y siguiendo todos
                        los pasos eh podido instalar backbox de una manera rapida y sencilla 
                    </p>
                </p-card>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="border-round-sm  font-bold  flex justify-content-center">
            <div class="card flex justify-content-center" style="background-color: #EEEEEE;border-radius:10px; padding:20px; width:80%">
                <p-card subheader="29/10/23" header="Daniel Trujillo" [style]="{ width: '500px', 'border-radius':'20px', 'color':'black','max-height': '175px','box-shadow':'5px 5px 10px rgba(0,0,0,0.3)' }">
                    <p class="m-0">
                        ¿no hay una version mas reciente? Por lo demas genial, me encanta
                        estar actualizado y tener toda la informacion de backbox a la mano
                    </p>
                </p-card>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="flex align-items-center justify-content-center p-3 m-5">
        <p-floatLabel>
            <textarea 
                id="float-input" 
                rows="7"
                cols="160" 
                pInputTextarea
                style="width: 100%; max-width: 100%;">
            </textarea>
            <label for="float-input" class="color"><strong>Agrega un comentario</strong></label>
        </p-floatLabel>
    </div>
    <div class="card flex justify-content-center" style="max-width: 100%;">
        <button 
            pButton 
            label="Enviar" 
            class="p-button-success"
            icon="pi pi-send"
            iconPos="right">
        </button>
    </div>
</div>
