@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');
h1 {
    font-style: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}
