<p></p>
<div class="comment">
    <div class="comentarios1">
        <h2>Comentarios</h2>
        <div class="lista">
          <div class="comentario">
            <strong>Nombre</strong>
            <p>ejemplo1</p>
            <small>fecha</small>
            <p></p>
          </div>
          <div class="comentario">
            <strong>Nombre</strong>
            <p>Ejemplo2</p>
            <small>fecha</small>
          </div>
        </div>

        <br>
        <br>

        <div class="flex">
            <div class="card flex justify-content-center">
                <p-floatLabel>
                    <textarea 
                        id="float-input" 
                        rows="7"
                        cols="160" 
                        pInputTextarea>
                    </textarea>
                    <label for="float-input">Agrega un comentario</label>
                </p-floatLabel>
            </div>
        </div>
        <br>

        <div class="boton">
            <div class="card flex justify-content-center">
                <button 
                    pButton 
                    pRipple 
                    label="Submit" 
                    class="p-button-success"
                    style="font-size: 1.5rem; padding: 0.75rem 1.5rem;">
                </button>
            </div>
        </div>
</div>
