<div class="flex justify-content-center align-items-center">
    <p-carousel 
    class="carousel"
    [value]="user"
    [numVisible]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="item" let-user>
            <p-card [style]="{margin:'20px'}">
                <div></div>
                <div></div>
                <div></div>
                <h3>{{user.name}}</h3>
                <i class="pi pi-user"></i>
                <p [innerHTML]="user.description"></p>
            </p-card>            
        </ng-template>
    </p-carousel>
</div>

    
