<br>
<div class="flex flex-column">
    <div class="card flex custom-div align-items-center">
        <i class="pi pi-flag pl-5" style="font-size: 30px; margin-right: 8px; color: #ffffff"></i>
        <h1>Introducción</h1>
    </div>
    <br>
    <div class="flex align-items-center justify-content-center text-justify">
        <div class="custom-card">
            <p>
                Elegir el sistema operativo correcto para tus necesidades puede ser un desafío debido a la variedad de opciones disponibles en el mercado. Cada uno tiene sus propias ventajas y áreas de aplicación. En esta sección, te explicamos las razones por las que este sistema operativo es una excelente elección frente a otros, destacando sus principales beneficios, áreas de uso y cómo puede mejorar la productividad en diferentes sectores.
            </p>
        </div>
    </div>
    <div class="card flex align-items-center">
        <i class="pi pi-check pl-5" style="font-size: 25px; margin-right: 8px; color: #00719e"></i>
        <h4>Ventajas de Este Sistema Operativo frente a Otros</h4>
    </div>
    <div class="grid">
        <div class="col-6">
            <div class="card flex justify-content-center">
                <p-card header="Estabilidad y Rendimiento" [style]="{ width: '360px', border: '2px solid #00719e'}">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://static.wingify.com/gcp/uploads/2020/02/image-1.png" height="200"/>
                    </ng-template>
                    <p>
                        Este sistema operativo está diseñado para ofrecer un rendimiento estable incluso bajo cargas de trabajo pesadas. Gracias a su optimización y uso eficiente de recursos, es ideal para tareas intensivas y procesos que requieren estabilidad continua.
                    </p>
                </p-card>
            </div>
        </div>
        <div class="col-6">
            <div class="card flex justify-content-center">
                <p-card header="Compatibilidad con Hardware y Software" [style]="{ width: '360px', border: '2px solid #00719e'}">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://cdn-icons-png.flaticon.com/512/5230/5230695.png" height="200"/>
                    </ng-template>
                    <p>
                        Tiene una gran compatibilidad con una amplia gama de hardware, incluyendo las últimas innovaciones tecnológicas. Además, cuenta con un ecosistema de software extenso, permitiendo la instalación y ejecución de aplicaciones especializadas.
                    </p>
                </p-card>
            </div>
        </div>
        <div class="col-6">
            <div class="card flex justify-content-center">
                <p-card header="Seguridad Avanzada" [style]="{ width: '360px', border: '2px solid #00719e'}">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://cdn-icons-png.flaticon.com/512/5067/5067875.png" height="200"/>
                    </ng-template>
                    <p>
                        Una de las características más valoradas es su seguridad integrada. Con un conjunto de herramientas para la protección de datos, controles de acceso y actualizaciones constantes de seguridad, este sistema operativo protege a los usuarios de amenazas cibernéticas.
                    </p>
                </p-card>
            </div>
        </div>
        <div class="col-6">
            <div class="card flex justify-content-center">
                <p-card header="Personalización y Flexibilidad" [style]="{ width: '360px', border: '2px solid #00719e'}">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://static.wixstatic.com/media/ac8c2e_416efebe8f4f4d1bb0fe42fc0b72b0a3~mv2.png/v1/fill/w_568,h_298,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ac8c2e_416efebe8f4f4d1bb0fe42fc0b72b0a3~mv2.png" height="200"/>
                    </ng-template>
                    <p>
                        Ofrece opciones de personalización avanzadas, lo que permite adaptar el sistema a las necesidades específicas del usuario o la empresa. Esto lo hace ideal tanto para usuarios comunes como para profesionales de IT y desarrolladores que necesitan un sistema ajustado a sus tareas.
                    </p>
                </p-card>
            </div>
        </div>
    </div>
</div>
